h1{color:black}
h2{
    color:black;
    text-align: center;
}
p{
    color:black;
    text-align: center;
}

/*{border:solid}
*/
.header{
    background-color:white;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
    background-color:lightblue;
}
body{
    background-color:lightblue;
}